extends layout.pug

block content
  
  main
    h2 Hello, #{locals.character}!
    div 
      ul(id="messages")
        form(action="")
          input(id="m" autocomplete="off")
          button Send
