extends layout.pug

block content
  
  main
    h2 Hello, #{locals.character}!
    div 
      ul(id="messages")
        form.socket(action="")
          input.socket(id="m" autocomplete="off")
          button.socket Send
