extends layout.pug

block content
  
  main
    h2 Welcome, roleplayer!
    div 
      form(action="/", method="post")
        label Please enter character name:
          input(type="text", name="character", autocomplete="off")
          button(type="submit") Submit
  script(src="/client-app.js")
