extends layout.pug

block content
  
  main
    h2 Welcome, roleplayer!
    div 
      form(action="/", method="post")
        legend Sign up a new character or log into an existing one
        label(for="character") Please enter character name: 
        input(type="text", name="character", id="character" autocomplete="off")
        label(for="password") Please enter password: 
        input(type="password", name="password", id="password")
        button(type="submit") Submit
