// Sticky footer
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  width: 80%;
  margin: auto;
}

footer {
  flex-shrink: 0;
}

.forms {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.forms{
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    label {
      margin: 5px;
    }
    input {
      width: 40%;
    }
    legend {
      font-size: 1.2em;
      margin: 5px;
    }
    button {
      width: 40%;
      margin-top: 10px;
    }
  }
}
#messages {
  max-height: 250px;
  overflow-y: scroll;
}
