@import "variables";
@import "layout";
@import "socket-io";

body {
  background-color: blanchedalmond;
}

h1 {
  a {
    text-decoration: none;
    color: inherit;

  }
}

header {
  border-bottom: 1px solid black;
}

footer {
  background-color: $footer-background-colour;
  color: white;
  a {
    color: white;
  }
}
html {
  background-color: white;
 }
